<!doctype HTML5>

<html lang="en">
<head>

   <meta charset="utf-8">

   <title> first css</title>
   <meta name="description" content="first css">
   <meta name="author" content="sitepoint">

   <link rel="stylesheet" href="./css/style.css"/>
</head>
<body>


<div id = "background">
</div>
     <div id= "changer">
      Would you like to make change?
       <form method = "post" action = "/money">
       <input type = "number" min = "1" max = "100" name="jingle">
       <input type= "submit">
       </form>
   </div>  

</div>
 <div id= "firstcss">
            <ul id="list2">
            <a href = "http://www.minedminds.org/contact">contact
            <a href = "http://www.minedminds.org/">about
            </ul>
            </div>
 

   <div id= "dropdown">

    <ul id= "dropdown">
     <div class="dropdown">
      <span>Minedminds</span>
     <div class="dropdown-content">
 
    <p></p>
    




</body>



    <div id="second-div">
        <ul id = "list">
         <a href = "https://www.google.com/?gws_rd=ssl">google
         <a href = "https://www.youtube.com/?gws_rd=ssl">youtube
         <a href = "https://www.bing.com/?gws_rd=ssl">bing
         <a href = "https://www.facebook.com/?gws_rd=ssl">facebook
         <a href = "https://www.amazon.com/?gws_rd=ssl">amazon
      </ul>
   </div>
</div>

 




</html>

