head {
    text-decoration: none;
    text-align: inline-block;
}

body {
    box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}


/* For desktop: */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

img {
    width: 100%;
    height: auto;
}

body {
    background-image: url("../img/Dark_Nights-METAL_Promo.jpg");
    color: yellow;
    font-size: 24px;
    font-family: Times, Times New roman, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: inline-block;
    background-color;
    padding-left: 50px;
    display: inline-block;
    text-decoration: none;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
}


/* For width smaller than 400px: */

body {
    background-image: url("../img/venom.jpg");
}


/* For width 400px and larger: */

@media only screen and (min-width: 400px) {
    body {
        background-image: url("../img/Dark_Nights-METAL_Promo.jpg");
    }
}


/* For devices smaller than 400px: */

body {
    background-image: url("../img/venom.jpg");
}


/* For devices 400px and larger: */

@media only screen and (min-device-width: 400px) {
    body {
        background-image: url("../img/Dark_Nights-METAL_Promo.jpg");
    }
}

#dropdown {
    text-align: inline-block;
    display: inline-block
}

.dropdown a {
    color: yellow;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: yellow;
    text-align: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: yellow;
    background-color: blue;
    min-width: 160px;
    box-shadow: padding: ;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#second-div {
    text-decoration: none;
    text-align: inline-block;
    color: yellow;
}

#list a {
    background: blue;
    color: yellow;
    position: ;
    left: 50px;
    top: 20px;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    padding: 0px 25px;
    word-wrap: normal;
    color: yellow;
    #list2 a {
        background: blue;
        color: yellow;
        text-decoration: none;
        position: relative;
        padding-left: 0px 100px;
    }
}

img {
    height: 100%;
    width: 100%;
    position: relative;
    repeat: x;
}

#firstcss a {
    color: yellow;
    text-decoration: none;
    text-align: inline;
}

html {}